<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Ingénieur en robotique - Compétences</title>
  <link href="/style.css" rel="stylesheet" type="text/css" />
  <script type="module" src="/script.js"></script>
</head>

<body>
  <div id="header">
    <img id="bg" src="/assets/competences_bg.jpg">
    <h1 class="title"><a href="#start">Compétences pour devenir ingénieur en robotique</a></h1>
  </div>
  <main>
    <h2 id="start">Qualités requises</h2>
    <h3>Polyvalent :</h3>
    <p>
      Le métier nécessite la maîtrise de connaissances scientifiques et techniques multiples : mathématiques,
      informatique, mécanique électrotechnique, pneumatique, hydraulique… Une bonne maîtrise de l’anglais est aussi
      nécessaire.
    </p>
    <h3>Créatif :</h3>
    <p>
      L'ingénieur en robotique doit être ingénieux pour trouver la solution technique adéquate lorsqu’un problème se
      présente. Il doit aussi se tenir au courant des évolutions technologiques.
    </p>
    <h3>Ouvert :</h3>
    <p>
      Il doit faire preuve d'un bon relationnel, car il collabore avec de nombreux autres spécialistes et doit encadrer
      des équipes de techniciens.
    </p>
    <h3>Savoir-faire</h3>
    <ul>
      <li><b>Définir</b> la faisabilité et la rentabilité d'un projet</li>
      <li><b>Élaborer</b> des propositions techniques</li>
      <li><b>Définir</b> les méthodes, les moyens d'études et de conception et leur mise en œuvre</li>
      <li><b>Identifier</b> les contraintes d'un projet</li>
      <li><b>Déterminer</b> des axes d'évolution technologiques</li>
      <li><b>Élaborer</b> des solutions techniques et financières</li>
      <li><b>Réaliser</b> des tests et essais, analyser les résultats et déterminer les mises au point du produit, du
        procédé</li>
      <li><b>Actualiser</b> des dossiers techniques de définition du projet</li>
      <li><b>Concevoir</b> un dossier technique de définition du projet</li>
      <li><b>Apporter</b> une assistance technique</li>
      <li><b>Traiter</b> l'information (collecter, classer et mettre à jour)</li>
      <li><b>Intervenir</b> en recherche</li>
      <li><b>Intervenir</b> en études, ingénierie</li>
      <li><b>Intervenir</b> en développement</li>
      <li><b>Intervenir</b> en essai, validation</li>
      <li><b>Concevoir</b> des modèles théoriques (calcul, simulation, modélisation)</li>
      <li><b>Concevoir</b> des modes opératoires, des procédés de fabrication ou d'industrialisation</li>
      <li><b>Réaliser</b> des supports techniques</li>
      <li><b>Piloter</b> un projet</li>
      <li><b>Diriger</b> un service, une structure</li>
      <li><b>Coordonner</b> l'activité d'une équipe</li>
    </ul>
    <h3>Savoir</h3>
    <ul>
      <li>Conception et Dessin Assistés par Ordinateur (CAO/DAO)</li>
      <li>Normes qualité</li>
      <li>Outils bureautiques</li>
      <li>Progiciels de Gestion Intégrée (PGI) / Enterprise Resource Planning (ERP)</li>
      <li>Technologie de Groupe Assistée par Ordinateur (TGAO)</li>
      <li>Logiciels de Conception de Fabrication Assistée par Ordinateur (CFAO)</li>
      <li>Analyse statistique</li>
      <li>Biochimie</li>
      <li>Électricité</li>
      <li>Mécanique</li>
      <li>Techniques de laboratoire</li>
      <li>Audit interne</li>
      <li>Méthodes et outils de résolution de problèmes</li>
      <li>Analyse des risques</li>
      <li>Logiciels de gestion documentaire</li>
      <li>Langages de programmation informatique</li>
      <li>Logiciels de modélisation et simulation</li>
      <li>Chiffrage/calcul de coût</li>
      <li>Gestion de projet</li>
      <li>Management</li>
      <li>Gestion budgétaire</li>
    </ul>
    <table class="table_matieres">
      <caption>Table des matières</caption>
      <tr>
        <td id="description"></td>
        <td><a href="/index.html">Desciption</a></td>
        <td></td>
      </tr>
      <tr>
        <td id="competences"></td>
        <td><a href="/views/competences.html">Compétences</a></td>
        <td></td>
      </tr>
      <!-- <tr>
        <td id="salaire"></td>
        <td><a href="/views/salaire.html">Salaire</a></td>
        <td></td>
      </tr> -->
    </table>
  </main>
  <div class="footer">
    <table>
      <tbody>
        <tr>
          <td>Site créé par <a href="https://github.com/Pydjama3">Elias TOURNIER</a></td>
          <td>Source: <a href="https://www.oriane.info/metier/ingenieur-en-robotique">Oriane</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>